
            <div class="row">
                <div class="col-xs-3">
                    <div class="panel">
                    <div class="panel-body chat-list">
                    <div class="chat-art">当前会话</div>
                    <div class="list-group">
                      <a href="#" class="list-group-item">
                        <span class="list-group-item-heading">上海电信</span>
                        <p class="list-group-item-text text-muted">共12个新条目</p>
                        <p class="list-group-item-text text-ctime">今天 17:46</p>
                      </a>
                      <a href="#" class="list-group-item active">
                        <span class="list-group-item-heading">上海网通</span>
                        <p class="list-group-item-text text-muted">没有未处理的bug</p>
                        <p class="list-group-item-text text-ctime">今天 17:46</p>
                      </a>
                      <a href="#" class="list-group-item">
                        <span class="list-group-item-heading">上海电信</span>
                        <p class="list-group-item-text text-muted">你好</p>
                        <p class="list-group-item-text text-ctime">今天 17:46</p>
                      </a>
                      <a href="#" class="list-group-item">
                        <span class="list-group-item-heading">上海电信</span>
                        <p class="list-group-item-text text-muted">你好</p>
                        <p class="list-group-item-text text-ctime">今天 17:46</p>
                      </a>
                    </div>
                    </div>
                    </div>
                </div>
                <div class="col-xs-9">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-8" style="border-right: 1px solid #dddddd;">
                                <div class="chat-title clearfix">
                                    <span class="pull-left">会话详情</span>
                                    <a class="btn btn-sm pull-right btn-primary">结束会话</a>
                                </div>
                                <div class="chat-active">

                                    <div class="msg_list msg_right clearfix">
                                        <div class="text bg-primary">
                                            <p>asd</p>
                                            <span class="time">09:38:41</span>
                                        </div>
                                    </div>
                                    <p class="msg_tip">
                                        —— 09:36:46 用户进入 ——
                                    </p>
                                    <div class="msg_list msg_left clearfix">
                                        <div class="text">
                                            <p>你好</p>
                                            <span class="time">09:38:41</span>
                                        </div>
                                    </div>
                                    <div class="msg_list msg_left clearfix">
                                        <div class="text">
                                            <p>你好，哈哈哈哈哈</p>
                                            <span class="time">09:38:41</span>
                                        </div>
                                    </div>
                                    <div class="msg_list msg_right clearfix">
                                        <div class="text bg-primary">
                                            <p>你好，有什么事情吗？你好，有什么事情吗？你好，有什么事情吗？</p>
                                            <span class="time">09:38:41</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div>
                                    <ul class="nav nav-secondary nav-justified">
                                        <li class="active">
                                            <a href="#tab1" data-toggle="tab">用户资料</a>
                                        </li>
                                        <li class="">
                                            <a href="##">&nbsp;</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane in active" id="tab1">
                                            <from class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-xs-1 control-label">姓名</label>
                                                    <div class="col-xs-7">
                                                        <input type="text" name="username" id="username" value="dapeng" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-xs-1 control-label">手机</label>
                                                    <div class="col-xs-7">
                                                        <input type="text" name="phone" id="phone" value="18321251979" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-xs-1 control-label">邮箱</label>
                                                    <div class="col-xs-7">
                                                        <input type="text" name="email" id="email" value="1528065095@qq.com" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-xs-1 control-label">地址</label>
                                                    <div class="col-xs-7" style="padding-top:6px;">
                                                        上海 上海
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-xs-1 control-label">终端</label>
                                                    <div class="col-xs-7" style="padding-top:6px;">
                                                        <i class="icon-desktop zdtip"  data-toggle="tooltip" title="Windows 7 (Chrome 44.0.2403.125)"></i>
                                                    </div>
                                                </div>
                                            </from>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>