<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>在线客服</title>
    <link href="/Public/dist/css/zui.css" rel="stylesheet">
    <link href="/Public/dist/css/client.css" rel="stylesheet">
    <script src="/Public/dist/lib/jquery/jquery.js"></script>
    <script src="/Public/dist/js/zui.min.js"></script>
    <script src="/Public/dist/lib/cookie/jquery.cookie.js"></script>
    <script src="/Public/dist/lib/qrcode/jquery.qrcode.js"></script>
    <script src="/Public/dist/lib/common/messenger.js"></script>
    <script src="/Public/dist/lib/common/json.js"></script>
</head>
<body>
<!--[if lt IE 9]>
<div class="alert alert-danger">您正在使用 <strong>过时的</strong> 浏览器. 是时候 <a href="http://browsehappy.com/">更换一个更好的浏览器</a> 来提升用户体验.</div>
<![endif]-->
<div id="kefu_panel"><div id="loading"></div></div>
<script src="/Public/dist/lib/common/config.js"></script>
<script src="/Public/dist/lib/common/function.js"></script>
<script src="/Public/dist/lib/common/init.js"></script>
<script>

</script>
</body>
</html>