
<div class="panel">
    <div class="panel-heading">
        个人信息
    </div>
    <div class="panel-body">
        <form class="kfaccountform form-horizontal">
            <input type="hidden" name="attr" value="account">
            <div class="form-group">
                <label class="col-xs-1 control-label">账户</label>

                <div class="col-xs-4" style="padding-top: 6px;">
                    {$user.account}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-1 control-label">姓名</label>

                <div class="col-xs-4">
                    <input type="text" name="truename" id="truename" value="{$user.truename}" class="form-control input-lg">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-1 control-label">昵称</label>

                <div class="col-xs-4">
                    <input type="text" name="nickname" id="nickname" value="{$user.nickname}" class="form-control input-lg">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-1 control-label">手机</label>

                <div class="col-xs-4">
                    <input type="text" name="mobile" id="mobile" value="{$user.mobile}" class="form-control input-lg">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-1 control-label">邮箱</label>

                <div class="col-xs-4">
                    <input type="text" name="email" id="email" value="{$user.email}" class="form-control input-lg">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-1 control-label"></label>

                <div class="col-xs-4">
                    <button class="btn btn-primary submitBtn input-lg disabled" data-loading-text="正在提交中..."> 保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="panel">
    <div class="panel-heading">
        密码设置
    </div>
    <div class="panel-body">
        <form class="kfaccountform form-horizontal">
            <input type="hidden" name="attr" value="pass">
            <div class="form-group">
                <label class="col-xs-1 control-label">原密码</label>

                <div class="col-xs-4">
                    <input type="password" data-fic="fic" data-type="/^[\u4E00-\u9FA5\uf900-\ufa2d\w\.\s]{6,16}$/" data-null="密码不能为空" data-error="密码格式错误" name="password" id="password" class="form-control input-lg">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-1 control-label">新密码</label>

                <div class="col-xs-4">
                    <input type="password" data-fic="fic" data-type="/^[\u4E00-\u9FA5\uf900-\ufa2d\w\.\s]{6,16}$/" data-null="新密码不能为空" data-error="密码格式错误" name="newpassword" id="newpassword" class="form-control input-lg">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-1 control-label">确认新密码</label>

                <div class="col-xs-4">
                    <input type="password" data-fic="fic" data-error="两次输入的密码不一致" data-recheck="newpassword" name="repassword" id="repassword" class="form-control input-lg">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-1 control-label"></label>

                <div class="col-xs-4">
                    <button class="btn btn-primary submitBtn input-lg disabled" data-loading-text="正在提交中..."> 保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(function(){
        //个人信息 密码修改
        $(".kfaccountform").propChange({
            btnSubmit:".submitBtn",
            actionUrl:"{:U('Chat/Setting/save')}",
            fromRefresh:true
        });
    });
</script>
<script>
    //客服信息变量
    var msg = {},
            ws = {},
            uid = {$uid},  //身份uid
            role = "worker",  //客服人员
            relation = "{$companyid}", //所属系统标识
            visitid = "";  //当前聊天的访客标识
</script>
<script>
    $(function(){
        sk_init();
        function sk_init() {
            ws = new WebSocket("ws://localhost:8585");
            ws.onopen = function () {
                msg = {};
                msg.type = "login"; //消息类型
                msg.uid = uid; //访客标识id
                msg.role = role; //访客身份
                msg.relation = relation; //所属客服系统
                ws.send(JSON.stringify(msg));
            };
        }
    });
</script>